=provide :title, "Home"
%div.center.hero-unit
  %h1= "Welcome to the fapp"
  %h2= "This is the gome page" %a= {href: "google.com", alt: "Tot" "AAATTTDD"}

  =link_to "Sign up", "#", {class: "btn btn-large btn-primary"}

=link_to image_tag("rails.png", alt: "Tails"), 'http://rubyonrails.org'

